.homeie {
  text-align: center;
}

.pic {
    margin-left: 20px;
    border-radius: 50%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    max-width: 40px;
    max-height: 40px;
}

.height {
  min-height: 500px !important
}

.art-img {
  max-height: 250px !important
}